<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<script src="/js/sketch.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name=viewport content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<meta name=keywords content=" vue2, 个人博客, node, element">
	<meta name=description content="基于Vue2 + Element UI + node.js 的个人博客系统">
	<meta name="author" content="钟大灵"> 
</head>
<body>
	<div id="app"></div>
	<script src="/javascripts/build.js"></script>
	<script type="text/javascript">
		// console.log(location.href)
	</script>
</body>
</html>